@charset "UTF-8";

* {
    margin: 0px;
    padding:  0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url(img/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(img/frame-iphone.png) no-repeat top center;
}

#tela {
    position: relative;
    top: 82px;
    left: 23px;
    width: 265px;
    height: 469px;
}

#redes {
    text-align: right;
}

#redes img {
    width: 50px;
    margin: 10px;
    border-radius: 50% 50% 10% 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
}

#redes img:hover {
    border: 2px solid rgba(255, 255, 255, 0.514);
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 10px white;
    transition: transform 0.5s, border 1s;
}

